use Mix.Config

config :espi_dni, EspiDni.SlackRtm,
  slack_token: "secret-slack-token"

config :ueberauth, Ueberauth.Strategy.Slack.OAuth,
  client_id: "slack-client-id",
  client_secret: "slack-client-secret"
