use Mix.Config

config :espi_dni, EspiDni.Plugs.RequireSlackToken,
  slack_token: "getfromslack"

config :ueberauth, Ueberauth.Strategy.Slack.OAuth,
  client_id: "slack-client-id",
  client_secret: "slack-client-secret"

config :ueberauth, Ueberauth.Strategy.Google.OAuth,
  client_id: "google-client-id",
  client_secret: "google-client-secret"
