/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@font-face {
  font-family: 'RealText';
  src: url("/fonts/RealTextWebPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RealText';
  src: url("/fonts/RealTextWebPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RealText';
  src: url("/fonts/RealTextWebPro-Demibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  color: white;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font: 16px/26px 'RealText', 'Helvetica', 'Arial', sans-serif;
  background-color: #F6F6F6;
  color: #31b0e2;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #31b0e2;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
.alert {
  width: 100%;
}

.alert__info {
  border-top: 2px solid #bce8f1;
  border-bottom: 2px solid #bce8f1;
  text-align: center;
  padding: 20px 20px 15px;
  margin: 0px;
  color: #31708f;
  background-color: #d9edf7;
}

.alert__info:empty{
  display: none;
}

.alert__danger {
  border-top: 2px solid #bce8f1;
  border-bottom: 2px solid #bce8f1;
  text-align: center;
  padding: 20px 20px 15px;
  margin: 0px;
  color: #31708f;
  background-color: #ebccd1;
}

.alert__danger:empty{
  display: none;
}

.site-header {
  background-color: white;
}

.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.header-logo-espi {
  width: 144px;
}

.header-logo-dni {
  width: 105px;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 42px;
  padding-bottom: 42px;
}

.hero__logo {
  width: 233px;
  -webkit-filter: drop-shadow(-2px -2px 5px #656c70);
  filter: drop-shadow(-2px -2px 5px #656c70);
}

.hero__text {
  max-width: 550px;
  text-align: center;
  font-size: 34px;
  line-height: 1.4em;
  color: white;
}

.bottom {
  min-height: 100%;
  position: relative;
}

.bottom__offset {
  background-color: white;
  padding: 20px;
}

.bottom__title {
  font-size: 35px;
  color: #31b0e2;
  line-height: 1.1em;
}

.bottom__title--white {
  color: white;
}

.prerequisites {
  color: #31b0e2;
  margin-top: 0;
}

.prerequisites__title {
  margin: 0;
}

.prerequisites__list {
  list-style: disc inside;
  margin-top: 0;
  margin-bottom: 2em;
}

.steps p {
  font-size: 20px;
  color: #31b0e2;
  margin-top: 0;
}

.steps__description {
  color: #444343;
  margin-top: 0;
  font-size: 25px;
}

.steps__image {
  width: 60px;
}

.steps__image--checked {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.steps__item {
  padding-bottom: 2em;
}

.steps__title {
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 0.4em;
  font-size: 30px;
  color: #31b0e2;
}

.steps--setup .steps__left {
  display: flex;
}

.steps__number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444343;
  font-size: 26px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ebf3f3;
  border: solid 1px #4c4f4f;
}

.try {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2.8em;
  padding-top: 4em;
  border-bottom: 1px solid white;
  /*margin: -1.4em;*/
}

.try__title {
  font-size: 36px;
  font-weight: 700;
}

.steps__right a {
  color: #444343;
  text-decoration: none;
}

.google-icon {
  width: 30px;
  margin-right: 0.4em;
}

.button {
  padding: 0.3em 0.8em;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #d5d7d9;
  margin-top: 0.5em;
  display: inline-block;
}

.team-management {
  color: #31b0e2;
  font-size: 16px;
}

.preferences__input {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  width: 40px;
  height: 25px;
  border: 0;
  font-size: 20px;
  color: #31b0e2;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.preferences__submit {
  text-align: center;
}

.preferences__submit button {
  background: white;
  border: 0;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .24), 0 0 1px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
  padding: 0.3em 0.6em;
}

.preferences__submit button:hover {
  cursor: pointer;
}

.messages {
  font-size: 16px;
}

.messages__action a {
  color: #9f9f9f;
}
.messages tr:nth-child(even) {
  background-color: #F6F6F6;
}

.articles__action form {
  display: inline-block;
}

.articles {
  font-size: 16px;
}
.articles tr:nth-child(even) {
  background-color: #F6F6F6;
}

.articles__action a {
  color: #9f9f9f;
}

.articles__action form {
  display: inline-block;
}

.articles {
  font-size: 16px;
}
.articles tr:nth-child(even) {
  background-color: #F6F6F6;
}

.table {
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.articles__article--url {
  color:  #31b0e2;
  text-decoration: none;
}

.table__row {
  position: relative;
}

.table__row--header {
  font-weight: bold;
  padding: 10px;
}

.table__row--header .table__cell {
  border-top: 0;
}

.article-details {
  color:  #31b0e2;
  margin: 1.5em;
}

.article-details a {
  color: #31b0e2;
}
.article-details__data-table {
  width: 100%;
}
.article-details__cell-label {
  width: 30%;
}

.form {
  padding: 20px;
}

.form-group{
  padding: 10px 0;
}

.form__label {
  font-weight: bold;
}

.form__input {
  border-radius: 3px;
  border: 2px solid #bce8f1;
  display: flex;
  line-height: $line-height--small;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form__button {
  background-color: white;
  margin-top: 10px;
  border-radius: 3px;
}

.action a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #343333;
}

.action__buttons {
  text-align: center;
}

.action__button--white {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .24), 0 0 1px 0 rgba(0, 0, 0, .12);
  padding: 0.8em;
  color: #444343;
  text-decoration: none;
}

.setup {
  margin-top: 1em;
}

.setup__header {
  text-align: center;
  line-height: 40px;
  background-color: #31b0e2;
  color: white;
  padding: 2.8em;
  margin: 0 -1.3em;
}

.setup__title {
  font-size: 20px;
  line-height: 1.3em;
  margin: 0;
}

.setup__body {
  color: #444343;
  font-size: 20px;
}

.setup__body {
  text-align: center;
}

.setup__body p {
  padding: 20px 40px;
}

.setup__note code {
  padding: 4px;
  background-color: #f4f3f3;
  font-size: 75%;
}

.setup__edit {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.setup__link a {
  display: inline-block;
  color: #444343;
  text-decoration: none;
  background-color: white;
  margin-top: 10px;
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .24), 0 0 1px 0 rgba(0, 0, 0, .12);
}

.back {
  margin-left: 44px;
  margin-top: 22px;
}

.back a {
  color: #9b9b9b;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}

.back a:hover,
.back a:focus {
  text-decoration: underline;
}

.back a::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 3px;
  transform: rotate(45deg);
  height: 8px;
  width: 8px;
  border-bottom: 2px solid #9b9b9b;
  border-left: 2px solid #9b9b9b;
}

.select-item {
  height: 44px;
  overflow: hidden;
  width: 290px;
  background: url("/images/dropdown-bg.png") no-repeat right;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .24), 0 0 1px 0 rgba(0, 0, 0, .12);
  margin-bottom: 0.5em;
}

.select-item select {
  background: transparent;
  border: 0;
  font-size: 14px;
  height: 50px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 310px;
}



.emoji {
  font-size: 30px;
}

footer {
  background-color: #31B0E2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  background-color: #31B0E2;
  font-size: 18px;
  font-weight: 600;
  min-height: 120px;
  margin: 1.2em -1.2em -1.2em -1.2em;
  -webkit-clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 0px 60px);
  clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 0px 60px);
}

footer p {
  color: white;
}

footer a {
  color: white;
}

footer.no-border {
  border: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 500px) {
  .header-logo-espi {
    width: 192px;
  }
  .header-logo-dni {
    width: 140px;
  }
  .bottom {
    text-align: left;
  }
  .steps__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    color: #444343;
  }
  .steps__item::after {
    content: '';
    position: absolute;
    top: 118px;
    bottom: 3px;
    left: 55px;
    width: 3px;
    background-color: #444343;
  }
  .steps__item:last-child:after {
    background-color: transparent;
  }
  .steps__image {
    width: 115px;
  }
  .steps--setup .steps__image {
    width: 50px;
    height: 50px;
  }
  .steps__image--checked {

  }
  .steps__title {
    margin-top: 0;
  }
  .steps__number {
    width: 50px;
    height: 50px;
  }
  .steps__left,
  .steps__right {
    display: table-cell;
    vertical-align: top;
  }
  .steps__left {
    min-width: 160px;
  }
  .steps--setup .steps__left {
    min-width: 100px;
  }
  .steps--setup .steps__item::after {
    visibility: hidden;
  }
  .setup__title {
    font-size: 40px;
  }
  .setup__edit {
    width: 60%;
  }
  .preferences__input {
    display: inline-block;
    margin: 0;
  }
  .team-management {
    font-size: 20px;
  }
  .emoji {
    font-size: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 0;
  }
  .hero {
    min-height: 424px;
    padding-bottom: 0;
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  .bottom {
    padding-bottom: 70px;
  }
  .bottom__offset {
    padding: 0;
    margin-top: -70px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .bottom__title {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    padding: 85px 160px 40px 160px;
  }

  .prerequisites {
    padding: 0 160px 0 160px;
  }

  .steps {
    padding: 0 160px 0 160px;
  }
  .steps__number {
    margin-right: 50px;
  }
  .steps__image--checked {
    margin-right: 50px;
  }
  .steps--setup .steps__left {
    justify-content: flex-start;
  }
  .try {
    margin: inherit;
  }
  .setup__header {
    margin: 0;
  }
  .setup__body {
    padding: 100px;
    margin: 0 auto;
    font-size: 25px;
  }
  .setup__edit {
    margin-top: 100px;
    margin-bottom: 34px;
  }
  .team-management {
    padding: 0 160px 0 160px;
  }
  footer {
    margin: 0;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.disabled {
  opacity: 0.4;
}

.visually-hidden {
  visibility: hidden;
  font-size: 0;
  height: 0;
}
